# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/
.nox/

# Type checking
.mypy_cache/
.pyre/

# Tooling
.ruff_cache/
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/
